# Generated & extracted files
/unpacked/
/gen/
/.cache/

# RdaConsole executable
rda_console/RdaConsole.exe

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo